#home {
    section.newsletter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 920px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .iz {
            width: 50%;
            text-align: center;
            padding: 50px 0px 50px 100px;
            @media (max-width: 920px) {
                width: 100%;
                padding: 50px   ;
            }
            h2 {
                margin-bottom: 50px;
            }
            p {
                margin-bottom: 50px;
            }
            form {
                input {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    border: none;
                    padding: 10px;
                    background-color: rgba(0, 49, 47, 0.5);
                    color: white;
                    outline: none;
                    &::placeholder {
                        color: white;   
                    }
                }
                button {
                    font-size: 1rem;
                    margin-top: 50px;
                    background-color: var(--green);
                    padding: 15px;
                    border-radius: 25px;
                    color: white;
                    width: 200px;
                    display: block;
                    margin: 50px auto 0;
                    text-transform: capitalize;
                }
            }
        }
        .de {
            width: 50%;
            @media (max-width: 920px) {
                width: 100%;
            }
            .movil {
                display: none;
                @media (max-width: 920px) {
                    display: block;
                }
            }
            .desk {
                @media (max-width: 920px) {
                    display: none;
                }
            }

        }
    }
}