#home {
    section.strategy {
        background-color: var(--greenClaro);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 920px) {
            flex-direction: column;
        }
        .iz {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
            @media (max-width: 920px) {
                width: 80%;
            }
            img {
                margin: 0 auto;
                width: 80%;
                height: auto;
            }
        }
        .de {
            padding: 50px 50px 50px 0;
            width: 50%;
            @media (max-width: 920px) {
                width: 100%;
                padding: 30px;
            }
            img {
                width: 40px;
            }
            h2 {
                color: #4C6405;
            }
            ul {

                margin-top: 50px;
                li {
                    color: #4C6405;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}